body {
    margin: 8px auto;
    max-width: 700px;
}

div.answer {
  font-family: "Courier New", monospace;
  white-space: pre;
  margin-bottom: 1em;
}

.fail {
    color: red;
}

.success {
    color: green;
}

.nopass {
    color: olive;
}

.pass {
    color: green;
}

.passdistinct {
    color: DarkGoldenRod;
}
table, th, td {
    border: 1px solid #666;
}

code {
    background-color: #eee;
    border: 1px solid #999;
    padding: 1px;
}

pre code {
    background-color: transparent;
    border: none;
    padding: 0;
}
